<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Responsive side navigation
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    
    <img class="mat-icon-rtl-mirror avatar mat-elevation-z8 bg-img-custom" src="../../../../assets/logo_login.svg" />

    <h4 class="name">{{userName}}</h4>
    <p class="designation">Portal de Compras</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="navigateToApproval()">
      <mat-icon>receipt</mat-icon>
      <span>Aprovações</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="exitApp()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <h1>{{ title }}</h1>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>