button {
  font-size: 40px;
  text-align: center;
}

.card-primary {
  background-color: #368CB5;
  text-align: center;
  color: white;
}

.content-primary {
  background-color: #368CB5;
}

.text-primary {
  color: #FFF;
}

.card-default {
  background-color: #FFF;
  text-align: center;
  color: #368CB5;
}

.text-default {
  color: #368CB5;
}

.content-default {
  color: #368CB5;
  background-color: #FFF;
}