<mat-card [class.card-primary]="primary" [class.card-default]="!primary" class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title [class.text-primary]="primary" [class.text-default]="!primary">{{title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content [class.content-primary]="primary" [class.content-default]="!primary">
    <mat-card-actions>
      <button mat-button>{{ quantity }}</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>