<ng-template #progressSpinnerRef>
	<mat-progress-spinner 	[color]="color" [diameter]="diameter" mode="indeterminate"
							[strokeWidth]="strokeWidth" [value]="value">
	</mat-progress-spinner>
</ng-template>