<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <img class="mat-icon-rtl-mirror avatar" src="../../../../assets/logo_login.svg" />
      <mat-card-title>Bem Vindo!</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="login-form">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Usuário" formControlName="username">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Senha" formControlName="password">
        </mat-form-field>
      </mat-card-content>

      <div class="button-container">
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner diameter="24"></mat-spinner>
        </div>

        <button mat-stroked-button color="accent" [disabled]="loading" class="btn-block"
          (click)="onLoginSubmit()">Acessar</button>
      </div>
    </form>

    <!--
    <app-loading-overlay [backdropEnabled]="true" [positionGloballyCenter]="true"
      [displayProgressSpinner]="displayProgressSpinner">
    </app-loading-overlay>
    -->

  </mat-card>
</div>