<app-page-default title="Documentos para Aprovações">

  <div class="content">
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayout.xs="column" class="div-radio-custom">
      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.xs="20%" fxFlexOffset="80%">
        <label class="label-radio-custom">Somente Pendentes</label>
        <mat-radio-group [(ngModel)]="onlyPendings" (change)="changeOnlyPendings()">
          <mat-radio-button value="yes" class="mat-radio-button-custom" [checked]="onlyPendings === 'yes' ">Sim
          </mat-radio-button>
          <mat-radio-button value="no" class="mat-radio-button-custom" [checked]="onlyPendings === 'no' ">Não
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.xs="20%" fxFlexOffset="4">
        <app-card title="Solic. Compras" [quantity]="quantitySC" [primary]="contrastSC" (click)="changeToSC()">
        </app-card>
      </div>

      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.xs="20%" fxFlexOffset="4">
        <app-card title="Pedido Compras" [quantity]="quantityPC" [primary]="contrastPC" (click)="changeToPC()">
        </app-card>
      </div>

      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.xs="20%" fxFlexOffset="4">
        <app-card title="Doc. Entrada" [quantity]="quantityDOC" [primary]="contrastDOC" (click)="changeToDOC()">
        </app-card>
      </div>

      <div fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.xs="20%" fxFlexOffset="4">
        <app-card title="Contrato" [quantity]="quantityCTT" [primary]="contrastCTT" (click)="changeToCTT()"></app-card>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" class="div-radio-custom">
    <div fxFlex.xl="15%" fxFlex.lg="15%" fxFlex.md="15%" fxFlex.xs="15%" fxFlexOffset="80%">
      <mat-form-field class="full-width">
        <mat-label>Buscar por ID</mat-label>
        <input [(ngModel)]="filter" matInput (blur)="onFilterById()">
      </mat-form-field>
    </div>
  </div>

  <div class="content mat-elevation-z8">
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="items">

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status Doc.</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Status">
          <mat-icon class="thumb-up-custom" *ngIf="element.status === 'Y'">thumb_up
          </mat-icon>
          <mat-icon class="thumb-down-custom" *ngIf="element.status === 'N'">thumb_down
          </mat-icon>
          <mat-icon class="hourglass-custom" *ngIf="element.status === 'W'">
            hourglass_full
          </mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Solicitante"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requester">
        <mat-header-cell *matHeaderCellDef>Solicitante</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Solicitante"> {{element.requester}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partner">
        <mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Fornecedor"> {{element.partner}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestDate">
        <mat-header-cell *matHeaderCellDef>Data Solicitação</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Dt. Solicit."> {{element.requestDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="statusApprover">
        <mat-header-cell *matHeaderCellDef>Meu Status</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Meu Status">
          <mat-icon class="thumb-up-custom" *ngIf="element.statusApprover === 'Y'">thumb_up
          </mat-icon>
          <mat-icon class="thumb-down-custom" *ngIf="element.statusApprover === 'N'">thumb_down
          </mat-icon>
          <mat-icon class="hourglass-custom" *ngIf="element.statusApprover === 'W'">
            hourglass_full
          </mat-icon>
          <mat-icon *ngIf="element.statusApprover === 'I'">
            person_off
          </mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="approvalDate">
        <mat-header-cell *matHeaderCellDef>Data Aprovação</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Data Aprovação"> {{ element.status === "Y" || element.status ===
          "N" ? element.approvalDate : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>R$ Total</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="R$ Total"> {{ element.total | currency: 'BRL' }} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="remarks">
        <mat-header-cell *matHeaderCellDef>Observações</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Observações"> {{element.remarks}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="actions">
          <button mat-button (click)="redictToDetail(row)">
            <mat-icon>explore</mat-icon>
            <span> Detalhes</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

  <app-loading-overlay [backdropEnabled]="true" [positionGloballyCenter]="true"
    [displayProgressSpinner]="displayProgressSpinner">
  </app-loading-overlay>

</app-page-default>