table {
  width: 100%;
}

.table-content {
  padding-top: 5%;
}

@media screen and (max-width: 960px) {
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
    caption {
      font-size: 1em;
    }
    .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.7em;
      text-align: right;
      font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: normal;
        font-size: 0.7em;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:first-child {
        margin-top: 4%;
      }
    }
  }
}

.hourglass-custom {
  color: yellow;
}

.thumb-up-custom {
  color: green;
}

.thumb-down-custom {
  color: red;
}

.label-radio-custom {
  font-style: normal;
  color: #368cb5;
  font-size: 20px;
}

.div-radio-custom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-radio-button-custom {
  font-style: normal;
  color: #368cb5;
  font-size: 15px;
  margin: 8px;
}

.full-width {
  font-size: 15px;
  width: 100%;
  color: #368cb5;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #368cb5;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#368cb5; /*outer ring color change*/
}