<app-page-default title="Detalhes Documento">
  <form [formGroup]="formDetailDocument">
    <div class="content">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Solicitante</mat-label>
          <input matInput type="text" formControlName="requester" [readonly]="true">
        </mat-form-field>

        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Data de Emissão</mat-label>
          <input matInput type="text" formControlName="requestDate" [readonly]="true">
        </mat-form-field>

        <mat-form-field div fxFlex="40%" fxFlexOffset="2">
          <mat-label>Fornecedor</mat-label>
          <input matInput type="text" formControlName="partner" [readonly]="true">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Valor Total</mat-label>
          <input matInput type="text" formControlName="total" [readonly]="true"
            [value]="formDetailDocument.get('total')?.value | currency : 'BRL'">
        </mat-form-field>

        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Status Documento</mat-label>
          <input matInput type="text" formControlName="status" [readonly]="true">
        </mat-form-field>

        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Status Minha Aprovação</mat-label>
          <input matInput type="text" formControlName="statusApprover" [readonly]="true">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-form-field div fxFlex="25%" fxFlexOffset="2">
          <mat-label>Data Aprovação/Rejeição</mat-label>
          <input matInput type="text" formControlName="approvalDate" [readonly]="true">
        </mat-form-field>

        <mat-form-field div fxFlex="40%" fxFlexOffset="2">
          <mat-label>Observações</mat-label>
          <input matInput type="text" formControlName="remarks" [readonly]="true">
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-tab-group>
      <mat-tab label="Itens">
        <table mat-table [dataSource]="items">

          <ng-container matColumnDef="indicateProduct">
            <mat-header-cell *matHeaderCellDef>-</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Status">
              <mat-icon *ngIf="element.lineNum === line">star</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Item"> {{element.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
            <mat-cell class="cell-on-center" *matCellDef="let element" data-label="Quantidade"> {{element.quantity}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Preço"> {{element.price | currency: 'BRL' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Total"> {{element.total | currency: 'BRL' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contractNumber">
            <mat-header-cell *matHeaderCellDef>Num. Contrato</mat-header-cell>
            <mat-cell class="cell-on-center" *matCellDef="let element" data-label="Num. Contrato"> {{
              element.contractNumber > 0 ?
              element.contractNumber : "-" }} </mat-cell>
          </ng-container>

          <!--
          <ng-container matColumnDef="physicalBalance">
            <mat-header-cell *matHeaderCellDef>Saldo Quantidade</mat-header-cell>
            <mat-cell class="cell-on-center" *matCellDef="let element" data-label="Saldo Contrato">
              {{element.physicalBalance}} </mat-cell>
          </ng-container>
        -->
          <ng-container matColumnDef="financialBalance">
            <mat-header-cell *matHeaderCellDef>Saldo Financeiro</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Saldo Contrato"> {{element.financialBalance | currency:
              'BRL' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef>Conta Contábil</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Cta Contábil"> {{element.account}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="costCenter">
            <mat-header-cell *matHeaderCellDef>Centro Custos</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="C. Custos"> {{element.costCenter}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </table>
      </mat-tab>

      <mat-tab label="Detalhes da Aprovação">
        <table mat-table [dataSource]="detailApprove">
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

            <mat-cell *matCellDef="let element" data-label="Status">
              {{element.status === 'W' ? 'Pendente' : element.status === 'N' ? 'Rejeitado' : element.status === 'I' ?
              'Não Necessário' : 'Aprovado' }}
            </mat-cell>

          </ng-container>

          <ng-container matColumnDef="approver">
            <mat-header-cell *matHeaderCellDef>Aprovador</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Aprovador">{{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="substitute">
            <mat-header-cell *matHeaderCellDef>Substituto</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Substituto">{{element.substitute}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Data"> {{element.date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hour">
            <mat-header-cell *matHeaderCellDef>Hora</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Hora"> {{element.hour}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsApprove"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsApprove;"></mat-row>
        </table>
      </mat-tab>

      <mat-tab label="Anexos" *ngIf="attachments && attachments.length > 0">
        <div fxLayout="row wrap" fxLayout.xs="column" *ngFor="let attachment of attachments">
          <a mat-button target="_blank" color="primary"
            (click)="onDownloadAttachment(attachment.idApproval, attachment.idLine, attachment.fileNamePublic)">{{
            attachment.fileNamePublic }}</a>
        </div>

      </mat-tab>

    </mat-tab-group>
    <mat-divider></mat-divider>

    <div fxLayout="row wrap" class="input-observation-custom">
      <mat-form-field div fxFlex="40%" fxFlexOffset="2">
        <mat-label>Observações Aprovação</mat-label>
        <input matInput formControlName="approvalRemarks" type="text" [readonly]="statusApprover !== 'W'">
      </mat-form-field>
    </div>

    <div fxLayoutAlign="center" class="button-custom" *ngIf="!(statusApprover === 'Y' || statusApprover === 'N' || statusApprover === 'I')">
      <div class="button-container" fxFlex="10%">
        <div class="spinner-container" *ngIf="loadingApprove">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        <button mat-button color="accent" class="mat-raised-button btn-approval-custom"
          (click)="onApproveOrDisapprove(true)" [disabled]="loading">
          <span>Aprovar</span>
        </button>
      </div>

      <div class="button-container" fxFlex="10%" fxFlexOffset="2">
        <div class="spinner-container" *ngIf="loadingReject">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        <button mat-button color="warn" class="mat-raised-button" (click)="onApproveOrDisapprove(false)"
          [disabled]="loading">
          <span>Rejeitar</span>
        </button>
      </div>
    </div>

    <div fxLayoutAlign="center" class="button-custom" *ngIf="(statusApprover === 'Y' || statusApprover === 'N' || statusApprover === 'I')">
      <div class="button-container" fxFlex="10%">
        <button mat-button color="accent" class="mat-raised-button btn-approval-custom"
          (click)="onBackToListApproval()">
          <span>Voltar</span>
        </button>
      </div>
    </div>
  </form>
</app-page-default>