mat-form-field {
  font-size: 20px;
}

table {
  width: 100%;
}

.table-content {
  padding-top: 5%;
}

.header-panel {
  background-color: #ffffff;
  color: black;
}

.header-item {
  background-color: #ffffff;
  color: #a9a9a9;
}

.headers-accordion-custom {
  padding: 20px;
}

.input-observation-custom {
  padding-top: 10px;
}

.button-custom {
  padding-top: 20px;
}

.btn-approval-custom {
  background-color: #368cb5;
}

.spinner-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-container {
	display: inline-block;
	position: relative;
}

table {
  width: 100%;
}

.cell-on-center {
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
    caption {
      font-size: 1em;
    }
    .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.7em;
      text-align: right;
      font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: normal;
        font-size: 0.7em;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:first-child {
        margin-top: 4%;
      }
    }
  }
}
